.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header__title {
  margin-right: 2rem;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 0.8rem;
  font-size: 1.5rem;
}

.navigation__link {
  font-weight: bold;
  color: #2c3e50;
}

.navigation__link:active {
  color: #42b983;
}
